.bg-custom-primary { background-color: #402F25; }
.bg-custom-secondary { background-color: #8C796D; }
.text-custom-primary { color: #6FD904; }
.btn-custom-primary { background-color: #6FD904; color: #fff; }
.btn-custom-primary:hover { background-color: #5cb200; }

/* Pagina detalhes animal */
.bg-custom-primary { background-color: #402F25; }
.bg-custom-secondary { background-color: #8C796D; }
.text-custom-primary { color: #6FD904; }
.btn-custom-primary { background-color: #6FD904; color: #fff; }
.btn-custom-primary:hover { background-color: #5cb200; }
.animal-details-container {
max-width: 800px;
margin: auto;
padding: 20px;
border: 1px solid #ddd;
border-radius: 10px;
background-color: #fff;
margin-top: 50px;
}
.animal-details-container img {
border-radius: 10px;
}
/* REGISTRO */
.bg-custom-primary { background-color: #402F25; }
      .bg-custom-secondary { background-color: #8C796D; }
      .text-custom-primary { color: #6FD904; }
      .btn-custom-primary { background-color: #6FD904; color: #fff; }
      .btn-custom-primary:hover { background-color: #5cb200; }
      .register-container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff;
        margin-top: 100px;
      }
      .register-container h2 {
        color: #402F25;
      }

/* LOGIN */
.bg-custom-primary { background-color: #402F25; }
      .bg-custom-secondary { background-color: #8C796D; }
      .text-custom-primary { color: #6FD904; }
      .btn-custom-primary { background-color: #6FD904; color: #fff; }
      .btn-custom-primary:hover { background-color: #5cb200; }
      .login-container {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff;
        margin-top: 100px;
      }
      .login-container h2 {
        color: #402F25;
      }

/* LISTAR ANIMAIS */
.bg-custom-primary { background-color: #402F25; }
      .bg-custom-secondary { background-color: #8C796D; }
      .text-custom-primary { color: #6FD904; }
      .btn-custom-primary { background-color: #6FD904; color: #fff; }
      .btn-custom-primary:hover { background-color: #5cb200; }
      .animal-card {
        transition: transform 0.2s;
      }
      .animal-card:hover {
        transform: scale(1.05);
      }